{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}

<script>
	//var id = document.getElementById("delete")
	const deleteVenue_v1 = id => fetch(`/venues/${id}`,{
    method: 'DELETE',
	// headers: {
	// 	"Content-Type": "application/json",
	// },
	// body: JSON.stringify({
	// 	"data": id
	// 		})
		// }).then(res => res.json()
		// ).then((data) => {
    		// alert("Deleted venue with ID: " + id + " and all activities" )
		}).then((_res) => {alert("Deleted venue with ID: " + id + " and all activities" )
	}).catch(err => console.log(err));
</script>

<script>
	function deleteVenue(venue_id) {
		fetch(`/venues/${venue_id}`,{
			method: 'DELETE',
			}).then((_res) => {alert("Deleted venue with ID: " + venue_id + " and all activities" )
		}).catch(err => console.log(err));
	}

</script>

{% for area in areas %}
<h3>{{ area.city }}, {{ area.state }}</h3>
	<ul class="items">
		{% for venue in venues %}
			{% if venue.id == area.id %}
			<li>
				<a href="/venues/{{ venue.id }}">
					<i class="fas fa-music"></i>
					<div class="item">
						<!-- <h5>{{ venue.name }} </h5>  -->
						<h5>{{ area.name }} </h5> 
					</div>
				</a>
				<button type="button" id="{{venue.id}}" onclick="deleteVenue(this.id)">Delete</button>
			</li>
			{% endif %}
		{% endfor %}
	</ul>
{% endfor %}
{% endblock %}